<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>webpack</title>
</head>
<body>
<div id="container"></div>
<!-- htmlWebpackPlugin模板中可以拿到打包信息 -->
<div><%= JSON.stringify(htmlWebpackPlugin.options) %></div>
<div><%= JSON.stringify(htmlWebpackPlugin.files) %></div>
<script src="../lib/react/react.js"></script>
<script src="../lib/react/react-dom.js"></script>
<script src="../lib/react/react-router.js"></script>
</body>
</html>